.dashboard-sidebar {
    height: 100%;
}
.dashboard-sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dashboard-sidebar ul li a,
.d-signout-btn {
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    background-color: transparent;
    outline: none;
    display: block;
    text-align: left;
    color: #fff;
    padding: 10px;
    transition: 0.5s all;
    border-bottom: 1px solid #363636;
}
.dashboard-sidebar ul li a:hover,
.dashboard-sidebar ul li a.active {
    background-color: black;
    color: #fff;
}
