/*-----Banner Button----*/
.slide-content h2 {
    font-size: 60px;
    font-weight: bold;
}
.banner-btn {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    background: #31b2ee;
    padding: 8px 24px;
    border-radius: 16px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    transition: 0.5s all;
}
.slider-btn {
    background-color: #000;
}
.banner-btn:hover {
    background-color: #129bda;
    color: #fff;
}
.banner-box {
    transition: 0.5s all;
}
.banner-box:hover {
    background-position: 50% 90%;
}

/*------------------------Product Section---------------*/
.product-box {
    position: relative;
    transition: 0.3s;
}
.product-box .img {
    overflow: hidden;
}
.product-box .img img {
    transition: 0.3s;
}
.product-box:hover .img img {
    transform: scale(1.1);
}
.product-box .price,
.product-box .quantity {
    font-size: 20px;
    font-weight: 700;
    color: #31b2ee;
}
.product-box .piece,
.product-box .min-order {
    font-size: 14px;
}
.product-box h5:hover,
.product-box .category:hover {
    color: #31b2ee;
}
.product-box .purchase-btn {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0;
}
.product-box .purchase-btn a {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    padding: 8px 50px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #31b2ee;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    letter-spacing: 0.5px;
    border-radius: 3px;
    transition: 0.5s;
    transform: scale(0.8);
    opacity: 0;
}
.product-box .purchase-btn a:hover {
    background-color: #31b2ee;
    color: #fff;
}
.product-box:hover .purchase-btn a {
    transform: scale(1);
    opacity: 1;
}
/*---------------Review Section--------------*/
.business-counter {
    background-color: #31b2ee;
}
.counter-box .icon {
    font-size: 40px;
    color: #fff;
}
.counter-box h2 {
    color: #fff;
    margin-bottom: 0;
}
.counter-box h4 {
    color: #fff;
}
/*------------------Review Section-----------*/
.star-list li {
    display: inline;
    margin-left: 6px;
}
.star-list li .icon {
    color: #f2ab08;
}
.review-section .review {
    position: relative;
}
.review-section .review .author {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
/*----------------Secondary Banner---------------*/
.secondary-banner {
    padding: 50px 50px;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
.secondary-banner h3 {
    font-weight: 700;
}
.secondary-banner p {
    font-weight: 600;
}
/*----------------Best Selling--------------*/
.best-selling {
    padding: 70px 0;
    background-color: #f3f3f3;
}
.section-info h4 {
    text-transform: capitalize;
}
.best-selling .product {
    background-color: #fff;
    padding: 30px;
}
.best-selling .product .img img {
    width: 100%;
}
.best-selling .discount {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.best-selling .discount h3 {
    font-weight: 700;
}
.best-selling .discount input {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #f7f7f7;
    margin-bottom: 10px;
    outline: none;
}
.best-selling .discount input[type="submit"] {
    background-color: #f2ab08;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #f2ab08;
}
.best-selling .product .info .category {
    font-size: 12px;
    font-weight: bold;
}
.best-selling .product .info h2 {
    font-size: 26px;
    text-transform: capitalize;
    padding-bottom: 12px;
}
.best-selling .product .info .price {
    font-size: 20px;
    font-weight: 700;
    color: #31b2ee;
}
.best-selling .product .info .piece {
    font-size: 14px;
}
.best-selling .product .info .quantity {
    font-size: 20px;
    font-weight: 700;
    color: #31b2ee;
}
.best-selling .product .info .min-order {
    font-size: 14px;
}

.best-selling .product .info ul li {
    margin-bottom: 8px;
}
